<%- include("header") -%>

<h1>This is My About Page</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae excepturi
  ipsa, placeat fugit porro repudiandae vero sapiente necessitatibus nemo,
  tenetur neque voluptatum quo officiis fuga debitis amet aspernatur sit maiores
  quas, mollitia cum. Praesentium illo perspiciatis ut minus. Iste architecto
  aliquid aspernatur quibusdam tempore ullam quasi esse fugit dolorem fuga.
</p>

<%- include("footer") -%>
